# OSX
.DS_Store

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# node.js
node_modules/
npm-debug.log

# Vscode
.vscode/* 

# BUCK
buck-out/
\.buckd/
android/app/libs
android/keystores/debug.keystore

#expo
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
